{
  "__explainer": "https://github.com/tailwindlabs/prettier-plugin-tailwindcss/issues/31#issuecomment-1312202554",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}
